* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}

body {
  margin: 0px;
  background: url("sunny.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body:before {
  content:"";
  display:block;
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:-1;
  background-color: rgba(255, 255, 255, 0.6);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.spacer {
  height: 5vh;
}

.sticky-nav {
  display: flex;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(201, 201, 201, 0.2);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  align-items: center;
  padding: 5px;
}

.nav-spacer {
  flex: 1;
  flex-basis: 0.00001px;
}

.spaced-icons {
  flex-basis: 5%;
}

.left-nav {
  margin-right: 2vw;
}

#logo-image {
  width: 35px;
  height: 35px;
  padding-right: 2px;
}

.logo-text {
  flex-basis: 25%;
}

.form {
  display: flex;
  align-items: center;
}

input {
  width: 30vw;
  height: 3.6vh;
}

.auth-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(230, 229, 229, 0.7);
  margin: 0 auto;
  max-width: 40vw;
  min-width: 30vw;
  margin-top: 25vh;
}

.logo-image {
  width: 170px;
  height: 56px;
  margin-right: 25%;
  margin-left: 15px;
  margin-top: 15px;
}

.auth-nav {
  font-size: 1.25em;
  min-width: 30vw;
}

.auth-link {
  display: inline;
}

.form-field-container {
  margin: 0 auto;
  margin-left: 10%;
}

.auth-submit {
  display: block;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: flex-start;
  justify-content: flex-start;
  width: 15vw;
  min-width: 200px;
}

.compose-button {
  background-color: rgb(255, 255, 255);
  color: rgb(103, 103, 103);
  padding: 0 24px 0 0;
  height: 48px;
  min-width: 56px;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  font-size: 1em;
  font-weight: 500;
}

.compose-text {
  padding: 15px;
  margin: 5 0;
  vertical-align: middle;
}

#plus-symbol {
  font-size: 2em;
}

#compose-container {
  flex: 2 1 auto;
  margin: 20px 5px;
  width: 100%;
}

#emails-container {
  overflow-y: auto;
  flex: 6 3 auto;
  width: 100%;
  min-height: 25vh;
}

#sidebar-spacer {
  flex: 4 3 auto;
  width: 100%;
  height: 20vh;
}

#contacts-container {
  overflow-y: auto;
  flex: 8 5 auto;
  width: 100%;
}

#sidebar-footer {
  flex: 1 1 0;
  height: 5vh;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(201, 201, 201, 0.2);
}

.sidebar-content {
  padding: 10px 5px;
}

.material-icons {
  vertical-align: middle;
}

.contact-text {
  font-size: 0.65em;
}

#wrapper {
  display: flex;
  height: 90vh;
  width: 100vw;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}

#main-outer-container {
  width: 80vw;
}

#main-footer {
  min-height: 5vh;
}

#main-spacer {
  min-height: 5vh;
}

.email-preview {
  padding: 5px;
  border: 2px solid rgba(201, 201, 201, 0.3);
  width: 99%;
  background-color: rgba(238, 238, 238, 0.4);
  font-size: 0.8em;
}

.email-preview span {
  padding: 0 5px;
}

.email-detail {
  padding: 10px;
  border: 2px solid rgba(201, 201, 201, 0.3);
  width: 99%;
  background-color: white;
}

.detail-subject {
  font-size: 1.3em;
}

.detail-body {
  font-size: 0.8em;
}

.compose-box {
  position: fixed;
  margin-right: 5px;
  bottom: 5vh;
  right: 6vw;
  height: auto;
  padding-bottom: 15px;
  width: 50%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  border-radius: 3px;
}

.draft-container {
  width: 100%;
  height: 100%;
}

#draft-banner {
  background-color: rgba(60,64,67, 0.9);
  position: relative;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 40px;
  margin: 0;
  padding: 5px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#draft-close {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 30px;
}

.to-spacer {
  display: flex;
  justify-content: baseline;
  align-content: center;
  margin: 5px;
}

.draft-text {
  margin: 5px;
  border-top: 0 none white;
  border-left: 0 none white;
  border-right: 0 none white;
  border-bottom: 2px solid rgba(201, 201, 201, 0.3);
  padding: 10px;
  font-size: 0.7em;
}

.draft-avatar {
  font-size: 1.5em;
  vertical-align: middle;
  border-top: 0 none white;
  border-left: 0 none white;
  border-right: 0 none white;
  border-bottom: 2px solid rgba(201, 201, 201, 0.3);
  padding: 10px;
}

.draft-from {
  line-height: 30px;
  border-top: 0 none white;
  border-left: 0 none white;
  border-right: 0 none white;
  border-bottom: 2px solid rgba(201, 201, 201, 0.3);
  padding: 10px;
  font-size: 0.7em;
}

.draft-body {
  resize: none;
  border-style: none;
  padding: 10px;
  color: #222;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  outline: 0;
  font-size: 0.7em;
  overflow-y: auto;
}

.compose-form {
  width: 100%;
  height: 100%;
}

.compose-form * {
  width: 95%;
}

.send-button {
  background-color: rgba(0, 0, 255, 0.9);
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  font-size: 1em;
  font-weight: 500;
  margin-left: 10px;
}

.save-disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
