.auth-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(230, 229, 229, 0.7);
  margin: 0 auto;
  max-width: 40vw;
  min-width: 30vw;
  margin-top: 25vh;
}

.logo-image {
  width: 170px;
  height: 56px;
  margin-right: 25%;
  margin-left: 15px;
  margin-top: 15px;
}

.auth-nav {
  font-size: 1.25em;
  min-width: 30vw;
}

.auth-link {
  display: inline;
}

.form-field-container {
  margin: 0 auto;
  margin-left: 10%;
}

.auth-submit {
  display: block;
}
